<header class="blog-header lh-1 p-3">
  <div class="row justify-content-between align-items-center">
    <div class="col-sm-6">
      <a href="/" class="h1 blog-header-logo text-dark">Joel Johnston</a>
    </div>
    <div class="col-sm-6 d-flex justify-content-end align-items-center">
      <nav class="nav d-flex ">
        <a class="p-2 link-secondary" routerLink="/">Blog</a>
        <a class="p-2 link-secondary" [routerLink]="['pages', 'about-me']">About Me</a>
        <a class="p-2 link-secondary" routerLink="subscribe" *ngIf="feature_subscribeEnabled">Subscribe</a>
        <a class="p-2 link-secondary" href="https://github.com/joelj1995/joeljdotca" target="_blank">Source</a>
      </nav>
    </div>
  </div>
</header>