<ng-container>
  <!-- <div class="page-loading active">
    <div class="page-loading-inner">
      <div class="page-spinner"></div><span>Loading...</span>
    </div>
  </div> -->

  <main class="page-wrapper">

    <app-header></app-header>

    <router-outlet></router-outlet>
    
  </main>

  <app-footer></app-footer>

  <a href="#top" class="btn-scroll-top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
    <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
  </a>
</ng-container>