<ng-container>
  <section class="container mt-lg-5 mb-lg-5 pt-lg-4 pb-5">

    <!-- Page title + Layout switcher + Search form -->
    <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
      <div class="col-lg-5 col-md-4 pt-5">
        <h1 class="mb-2 mb-md-0">Blog</h1>
      </div>
      <div class="col-lg-7 col-md-8">

      </div>
    </div>

    <div *ngIf="posts$ | async as posts">
      <article class="card border-0 shadow-sm overflow-hidden mb-4" *ngFor="let post of posts.posts">
        <div class="row g-0">
          <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover"
            style="background-image: url(assets/img/blog/01.jpg); min-height: 15rem;">
            <a [routerLink]="post.slug" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
          </div>
          <div class="col-sm-8">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <span class="fs-sm text-muted">{{ post.date | date:'yyyy-MM-dd' }}</span>
              </div>
              <h3 class="h4">
                <a [routerLink]="post.slug">{{ post.title }}</a>
              </h3>
              <p [innerHTML]="post.excerpt"></p>
              <hr class="my-4">
              <div class="d-flex align-items-center justify-content-between">
                <a routerLink="/pages/about-me" class="d-flex align-items-center fw-bold text-dark text-decoration-none me-3">
                  <img src="assets/img/its-me.jpg" class="rounded-circle me-3" width="48" alt="Avatar">
                  Joel Johnston
                </a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation example">

      <ul class="pagination justify-content-center pt-lg-3 pt-1">
        
        <li class="page-item" [class.disabled]="firstPageDisabled">
          <a routerLink="/blog" [queryParams]="{page: currentPage - 1}" class="page-link" aria-label="Previous page">
            <i class="bx bx-chevron-left mx-n1"></i>
          </a>
        </li>

        <ng-container *ngFor="let pageNum of pageNumbers">
          <li class="page-item active d-none d-sm-block" *ngIf="pageNum == currentPage">
            <span class="page-link">
              {{ pageNum }}
              <span class="visually-hidden">(current)</span>
            </span>
          </li>
          <li class="page-item d-none d-sm-block" *ngIf="pageNum != currentPage">
            <a routerLink="/blog" [queryParams]="{ page: pageNum }" class="page-link">{{ pageNum }}</a>
          </li>
        </ng-container>

        <li class="page-item" [class.disabled]="lastPageDisabled">
          <a routerLink="/blog" [queryParams]="{page: currentPage + 1}" class="page-link" aria-label="Next page" >
            <i class="bx bx-chevron-right mx-n1"></i>
          </a>
        </li>

      </ul>
    </nav>
  </section>

</ng-container>