<ng-container>
  <!-- Page title + Services grid -->
  <section class="container">
    <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
      <div class="col-lg-5 col-md-4 pt-5">
        <h1 class="mb-2 mb-md-0">Services</h1>
      </div>
      <div class="col-lg-7 col-md-8">

      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2">

      <!-- Item -->
      <div class="col py-4 my-2 my-sm-3">
        <a 
          class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 me-xl-2">
          <div class="card-body pt-3">
            <div
              class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="assets/img/services/icons/cms.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              Software Development
              <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
            </h2>
            <p class="fs-sm text-body mb-0">
              I focus primarily on web and mobile development. While I'm comfortable with the full stack, my strongest areas are database design,
              physical architecture and third party integrations. My professional experience is largely in .NET and Python stacks, but I'm always
              eager to learn some new tech if a project is the right fit. I also bring expertise on Docker and container orchestration to projects
              that require it.
            </p>
          </div>
        </a>
      </div>

      <!-- Item -->
      <div class="col py-4 my-2 my-sm-3">
        <a 
          class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div
              class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="assets/img/services/icons/rocket.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              DevOps Consulting
              <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
            </h2>
            <p class="fs-sm text-body mb-0">
              You have your application's business logic. Now you want to build and deploy changes while minimizing interruption to your end users. I will walk
              you through best practices in version control, CI/CD, release management and monitoring so that you can confidently add capabilities to your online service
              without fearing fires.
            </p>
          </div>
        </a>
      </div>

      <!-- Item -->
      <div class="col py-4 my-2 my-sm-3">
        <a 
          class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div
              class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="assets/img/services/icons/mobile-app.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              Mobile App MVP
              <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
            </h2>
            <p class="fs-sm text-body mb-0">
              Do you have a killer app idea, but need things done on a budget? I will bootstrap the development for your mobile application
              using cutting-edge rapid development technologies. By focusing on sound architecture, I'll set you up with a good foundation
              to extend and refine the codebase as the budget becomes available.
            </p>
          </div>
        </a>
      </div>

      <!-- Item -->
      <div class="col py-4 my-2 my-sm-3">
        <a 
          class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
          <div class="card-body pt-3">
            <div
              class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="assets/img/services/icons/analytics.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              Support
              <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
            </h2>
            <p class="fs-sm text-body mb-0">
              Have a pesky error in your app that you can't figure out? Do you just need some guidance on getting your website hosted and deployed?
              I'll leverage my broad IT experience to help you push past your technology blockers, so that you can get back to focusing on your core business.
            </p>
          </div>
        </a>
      </div>

    </div>
  </section>

  <!-- Features -->
  <section class="container pb-5 mb-2 mb-md-4 mb-lg-5">
    <h2 class="h1 text-center pt-1 pt-xl-2 mb-4">Looking for next steps?</h2>
    <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3">Shoot me an email at <a href="mailto:me@joelj.ca">me@joelj.ca</a>.</p>
  </section>
</ng-container>