<ng-container>
  <section class="position-relative d-flex align-items-center min-vh-100 py-5 bg-dark overflow-hidden">
    <span class="position-absolute top-0 start-0 d-dark-mode-block d-none w-100 h-100 bg-secondary opacity-75"></span>
    <div class="container position-relative mt-5 mb-lg-5 mb-md-4 mb-3 pt-3 pb-xl-3" data-bs-theme="dark">
      <div class="row gy-5">
        <div class="col-xl-5 col-lg-6">
          <div class="position-relative zindex-5 text-lg-start text-center">
            <h1 class="display-2 mb-4 pb-lg-3 pb-md-2">Expert <span class="text-primary">software</span> development</h1>
            <p class="mb-4 pb-lg-3 pb-md-2">
              <span class="me-2 text-light">Dependable web + mobile software development and systems support services</span>
            </p>
            <a routerLink="/services" class="btn btn-lg btn-primary">My services</a>
          </div>
        </div>
        <div class="col-lg-6 offset-xl-1">
          <div class="position-relative ms-xl-0 ms-lg-4">
            <div class="position-absolute top-50 start-50 translate-middle ratio ratio-1x1"
              style="width: 125%; max-width: 49.75rem;">
              <div class="p-md-0 p-5">
                <img src="assets/img/landing/software-agency-3/hero-bg.png" alt="Shape"
                  class="hero-animation-spin p-md-0 p-5">
              </div>
            </div>
            <div class="position-relative row row-cols-sm-2 row-cols-1 gx-xl-4 gx-lg-3 gx-md-4 gx-3">
              <div class="col">
                <div class="d-sm-grid d-flex gap-xl-4 gap-lg-3 gap-md-4 gap-sm-3 gap-2">
                  <div class="d-flex align-items-center justify-content-center bg-secondary rounded-3"
                    style="min-height: 176px; backdrop-filter: blur(6px);">
                    <div class="p-xl-4 p-sm-3 p-2 fs-xl fw-semibold text-center">
                      <span class="hero-animation-fade text-white">I want to establish my web presence</span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-center bg-secondary rounded-3"
                    style="min-height: 176px; backdrop-filter: blur(6px);">
                    <div class="p-xl-4 p-sm-3 p-2 fs-xl fw-semibold text-center">
                      <span class="hero-animation-fade hero-animation-delay-2 text-white">We are looking for an Aptify
                        expert</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mt-sm-5 mt-2 pt-sm-5">
                <div class="d-sm-grid d-flex gap-xl-4 gap-lg-3 gap-md-4 gap-sm-3 gap-2">
                  <div class="d-flex align-items-center justify-content-center bg-secondary rounded-3"
                    style="min-height: 176px; backdrop-filter: blur(6px);">
                    <div class="p-xl-4 p-sm-3 p-2 fs-xl fw-semibold text-center">
                      <span class="hero-animation-fade hero-animation-delay-1 text-white">I need an MVP for my mobile
                        app</span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-center bg-secondary rounded-3"
                    style="min-height: 176px; backdrop-filter: blur(6px);">
                    <div class="p-xl-4 p-sm-3 p-2 fs-xl fw-semibold text-center">
                      <span class="hero-animation-fade hero-animation-delay-3 text-white">I need to deploy my
                        application without downtime</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="container my-5 py-lg-5 py-md-4 py-3">
    <div class="row gy-4 py-xl-3">
      <div class="col-md-4">
        <img src="assets/img/about/hero/04.jpg" alt="Image" class="rounded-3">
      </div>
      <div class="col-lg-5 col-md-10 offset-lg-1 d-flex">
        <div class="align-self-center ps-lg-0 ps-md-4">
          <h2 class="h1 mb-lg-4 mb-3">Full Stack Software Developer</h2>
          <p class="mb-4 pb-lg-3 fs-lg">I'm a Software Developer specializing in Web Application Development and DevOps tooling. I help clients build mobile-friendly web applications, establish their web presence and automate repetitive tasks.</p>
          <p class="mb-4 pb-lg-3 fs-lg">I'm most skilled with a Microsoft-oriented stack of SQL Server, C# and ASP.NET but I also have experience working with Linux, Python, Postgres and Docker. Within the full stack development space, my specializations are database design and administration, application architecture and building robust deployment pipelines. I have a knack for troubleshooting and can quickly identify and resolve tricky application errors and bugs.</p>
          <a routerLink="/pages/about-me" class="btn btn-lg btn-outline-primary">More about me</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Projects -->
  <section class="container mb-5 pb-lg-5 pb-md-4 pb-3" *ngIf="showProjects()">
    <h2 class="h1 mb-lg-5 mb-4 pb-lg-0 pb-md-2 text-center">Featured Projects</h2>

    <!-- Project item -->
    <div class="row gy-4 mb-4 pb-md-3 pb-2">
      <div class="col-md-6 rellax" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="md">
        <div class="bg-secondary rounded-3">
          <img src="assets/img/landing/software-agency-3/projects/01.png" alt="Project image">
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 offset-lg-1 d-flex rellax" data-rellax-percentage="0.5"
        data-rellax-speed="-0.5" data-disable-parallax-down="md">
        <div class="align-self-center ps-lg-0 ps-md-4">
          <h4 class="mb-lg-4 mb-3 fs-base fw-normal text-body">Mobile App</h4>
          <h3 class="h2 mb-lg-4 mb-3">Strength Journal</h3>
          <p class="mb-lg-4 mb-3">Odio mus adipiscing nunc sed viverra massa aliquam sit vestibulum maecenas arcu
            adipiscing tincidunt at velit pharetra varius sit.</p>
          <ul class="mb-lg-4 mb-3 fs-sm text-muted list-inline" style="max-width: 19.125rem;">
            <li class="list-inline-item me-1">
              Product Strategy
              <span class="ms-1">/</span>
            </li>
            <li class="list-inline-item me-1">
              Front end Development
              <span class="ms-1">/</span>
            </li>
            <li class="list-inline-item me-1">
              Systems Design
              <span class="ms-1">/</span>
            </li>
            <li class="list-inline-item me-1">
              Web Development
            </li>
          </ul>
          <a href="#" class="btn btn-lg btn-outline-primary">Read More</a>
        </div>
      </div>
    </div>
  </section>

</ng-container>