/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: 'Miriam Libre', sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
}

body {
  font-family: 'Miriam Libre', sans-serif;
  color: #666666;

  img {
    max-width: 100%;
    height: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #3bb878;
  font-family: 'Assistant', sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  font-size: 1.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
figcaption {
  margin-top: 10px;
  font-size: 0.8em;
  text-align: center;
  color: #898989;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
